 /* Define the Muli Light font */
 @import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');

 /* Apply the font to the body or a specific selector */
 body {
     font-family: 'Muli', sans-serif;
 }
         @media only screen and (max-width: 600px) {
          .container-chat{
            height:430px;
            width:300px;
          }
          .chat{
            height:70%;
            width:95%;
          }
          #toggle-chatbot {
            height:2px;
          }
         }
         /* Small devices (portrait tablets and large phones, 600px and up) */
         @media only screen and (min-width: 600px) {
           .container-chat{
               height:450px;
               width:300px;
             }
             .chat{
               height:71%;
               width:100%;
             }
             #toggle-chatbot {
               height:2px;
             }
         }
         /* Medium devices (landscape tablets, 768px and up) */
         @media only screen and (min-width: 768px) {
           .container-chat{
               height:500px;
               width:350px;
             }
             .chat{
               height:73%;
               width:100%;
             }
         }
         #toggle-chatbot {
             background-color: #008080;
             color: #fff;
             height: 70px;
             width: 70px;
             border-radius: 50%;
             font-size: 20px;
             border: none;
             cursor: pointer;
             outline: none;
             box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
             display: flex;
             align-items: center;
             justify-content: center;
             position: fixed;
             bottom: 20px;
             right: 20px;
             z-index: 999;
         }
         #toggle-chatbot.pulse {
             animation: pulse 1.5s infinite; /* Pulsating animation */
         }
         @keyframes pulse {
             0% {
                 transform: scale(1);
             }
             50% {
                 transform: scale(1.1);
             }
             100% {
                 transform: scale(1);
             }
         }
         #toggle-chatbot::before {
             content: 'SOP';
             font-size: 24px;
         }
         .container-chat {
             border: 1px solid #ccc;
             border-radius: 5px;
             overflow-y: hidden;
             overflow-x: hidden;
             position: fixed;
             bottom: 50px;
             right: 50px;
             padding: 13px;
             margin: 10px;
             display: none;
             background-color: #d4ebe7;
             height: 500px;
             z-index: 1000; /* Adjust this value to be higher than the toggle button's z-index */
             width:350px;
             box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
         }
         button {
             margin: 0;
             padding: 0;
         }
         section.bot{
             height: 90%;
         }
         label{
             margin-top: 0%;
         }
         .chat{
             overflow-y: auto;
             border: 1px solid #8ac2b9;
             padding: 1rem;
             overflow-y: scroll;
             padding-bottom: 10px;
             border-radius: 5px;
             margin-bottom: 5px;
             height:73%;
             width:100%;
             background-color: white;
             /* border-color:  #8ac2b9; */
         }
         .chat::-webkit-scrollbar{
              display: none;
         }
         .cat-gory{
             border: 1px solid   #d4ebe7;
             padding-bottom: 5px;
             height: 80%;
             max-height: 50px;
             width: 80%;
             overflow-x: hidden;
             white-space: nowrap;
             overflow-y: hidden;
             float: left;
             background-color: #d4ebe7;
         }
         .cat-gory {
             border: 1px solid #d4ebe7;
             padding-bottom: 5px;
             height: 80%;
             max-height: 50px;
             width: 80%;
             overflow-x: hidden;
             white-space: nowrap;
             overflow-y: hidden;
             float: left;
             background-color: #d4ebe7;
         }
         .cat-gory button {
             background-color: rgb(229, 216, 173);
             border-width: 1px;
             border-color: white;
             color: black;
             width: auto;
             border-radius: 5px;
             margin-top: 0px;
             margin-right: 5px;
             padding: 4px;
             transition: box-shadow 0.3s ease; /* Added transition for smooth effect */
         }
         .category-content .scroll-right-button{
             float: left;
             /* border: white; */
             height: 75%;
             margin-bottom: 5px;
             width: 7%;
             border-color:  #8ac2b9;
             /* background-color: white;
             border-color: white; */
             border-top-right-radius: 5px;
             border-bottom-right-radius: 5px;
             font-size: large;
             background-color: #d4ebe7;
         }
         .category-content .scroll-left-button{
             float: left;
             /* border: white; */
             height: 75%;
             width: 7%;
             border-color:  #8ac2b9;
             /* background-color: white;
             border-color: white; */
             border-top-left-radius: 5px;
             border-bottom-left-radius: 5px;
             font-size: large;
             background-color: #d4ebe7;
             /* font:black; */
         }
         .bot-name{
             background-color: #008080;
             padding: 5px;
             margin: 5px;
             text-align: center;
             color: white;
         }  
         .feedback-div {
             background-color: #008080;
             color: #ddd;
             margin-top: 3px;
             float: left;
             clear: both;
             border-radius: 5px;
             height: 50px; /* Adjusted height for proper ratio */
             width: auto; /* Let the width adjust based on content */
             animation: slideUpAndRight 0.167s cubic-bezier(.4,0,.2,0.5);
             margin: 10px;
         }
         .feedback-div>button {
             background-color: #ddd;
             border: none;
             color: black;
             padding: 8px 16px; /* Adjusted padding for a smaller button size */
             text-align: center;
             text-decoration: none;
             display: inline-block;
             margin: 8px 4px;
             /* cursor: pointer; */
             border-radius: 16px;
             transition: background-color 0.3s ease;
         /* Hover effect */
             :hover {
                 background-color: #c0c0c0;
             }
         }
         .star-container {
             display: flex;
             align-items: center;
             margin-top: 10px;
             background-color: #008080;
             color: black;
             margin-top: 3px;
             float:left;
             clear: both;
             border-radius: 5px;
         }
         .star {
             font-size: 24px;
             cursor: pointer;
         }
         .star.selected {
             color: gold; 
         }
         .thankmessage{
             display: flex;
             align-items: center;
             background-color: #008080;
             border-width: 1px;
             color:white;
             margin-top: 3px;
             margin-right: 30%;
             float: left;
             clear: both;
             padding: 5px 10px;
             border-radius: 10px;
             margin: 10px 0; 
             animation: slideUpAndRight 0.167s cubic-bezier(.4,0,.2,0.5);
         }
         .submit_feedback{
             background-color: #3dc553;
             color: black;
             clear: both;
             border-radius: 5px;
             height: 40px;
             width: 60px;
         }
         #emoji-options {
             display: flex;
             justify-content: center;
             margin-top:15px;
             margin-bottom: 15px; 
             max-height: 30px;
         }
         .emoji-options span {
             font-size: 24px;
             cursor: pointer;
             margin: 0 5px;
         }
         .initial-greeting {
             background-color:#008080;
             border-color: black;
             border-width: 1px;
             color: white;
             margin-top: 3px;
             margin-right: 30%;
             float: left;
             clear: both;
             padding: 5px 10px; 
             border-radius: 10px;
             margin: 10px 0; 
         }
         .response-message {
             background-color: #008080;
             border-color: black;
             border-width: 1px;
             color: white;
             margin-top: 3px;
             float: left;
             clear: both;
             padding: 5px 10px; 
             border-radius: 10px;
             margin: 10px 0; 
         }
         .user-input {
             display: flex;
             align-items: center;
             width: 100%;
         }
         #send-button {
             background-color: #008080;
             color: white;
             border: none;
             padding: 10px 15px;
             border-radius: 5px;
             margin-left: 10px;
             cursor: pointer;
             outline: none;
         }
         #send-button:hover {
             background-color: #005555; /* Darker shade on hover */
         }
         #user-message {
             flex: 1;
             padding: 0.5rem;
             border: 1px solid #ccc;
             border-radius: 5px;
         }
         .chat-message.user-message {
             background-color: #f0f0f0;
             color: black;
             margin-top: 3px;
             margin-left: 30%;
             float: right;
             clear: both;
         }
         @keyframes slideUp {
             from {
                 transform: translateX(44px);
             }
             to {
                 transform: none;
             }
         }
 
         @keyframes slideUpAndRight {
             from {
                 transform: translateX(-100px) translateY(44px);
             }
             to {
                 transform: none;
             }
         }
         .chat-message.response-message{
             background-color: #008080;
             border-color: black;
             border-width: 1px;
             color:white;
             margin-top: 3px;
             margin-right: 30%;
             float: left;
             clear: both;
         }
         .chat-message {
             background-color: #a3c3e4; 
             padding: 5px 10px;
             border-radius: 10px;
             margin: 10px 0;
         }
         .dropdown-content {
             display: none;
             background-color: #f9f9f9;
             min-width: 200px;
             box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
             z-index: 1;
             max-height: 200px;
             overflow-y: auto;
             position: absolute; 
             bottom: calc(10%);
         }
         .dropdown-content a {
             color: black;
             padding: 12px 16px;
             text-decoration: none;
             display: block;   
         }
         .dropdown-content a:hover {
             background-color: #f1f1f1;
         }
         .SubCategoryDiv{
             position: absolute;
             top: 200px;
             left: 50px;
             /* left: 50%; */
             transform: translateX(-23%);
             transform: translateY(-40%);
             /* max-height: 15%;
             height: 7%;
             width: 75%;  */
             border: #008080;
             border-radius: 5px;
             background-color: #d9e8f7;
             display: none;
             z-index: 1000;
             cursor: pointer;
             overflow-x: hidden;
             overflow-y: hidden;
             height: auto;
             width: fit-content;
         }
         .subcategorybutton{
             margin: 5px;
             padding: 5px;
             background-color: #008080;
             border-radius: 4px;
             font-weight: bold;
         }
         .closesubcategorydiv{
             margin: 3px;
             padding: 3px;
             background-color: #bac5e4;
             /* border-radius: 7px; */
             float: right;
             height: auto;
             width: fit-content;
             font-size: 10px; 
         }
         .quebutton{
             height: auto;
             width: fit-content;
             background-color: #008080;
             margin-top: 3px;
             margin-left: 10%;
             float: left;
             clear: both;
             border-radius: 5px;
             padding: 2px;
         }
         .quediv {
             border: rgb(214, 227, 241);
             border-radius: 5px;
             background-color: #8ab5df;
             overflow-x: hidden;
             overflow-y: hidden;
             margin-top: 35px; 
             padding: 10px; 
             /* display: inline-block;  */
             float: left;
             width: fit-content;
         }
         .feedback-div{
             margin-bottom: 50px;
         }
